// /*------------------------------------*\
//     #GLOBAL VALUES
// \*------------------------------------*/

// Colors palette
$black                       : #000000;
$time-blue                   : #303048;
$orange-queen                : #fa8500;
$existence-beginning         : #facc00;


// Brand colors
$brand-primary               : $time-blue;
$brand-primary-text          : white;
$brand-secondary             : $orange-queen;
$brand-secondary-text        : white;

// Links
// $link-color               : $brand-primary;
// $link-hover-color         : false;
// $link-active-color        : false;
// $link-visited-color       : false;
// $link-focus-color         : false;

// Text
$selection-text-color-bg  : $brand-secondary;
$selection-text-color     : invert($brand-primary);

// Typography
// $font-family-base         : "Arial", Helvetica, Sans-serif;
// $font-size-small          : 13;
// $font-size-base           : 16;
// $font-size-medium         : 18;
// $font-size-large          : 20;
// $line-height-base         : 22;

// Scaffolding
// $body-font-size           : $font-size-base;
$body-bg                     : white;
$body-color                  : #B5B1B1;

// Print
// $print-text-color         : $brand-primary-text;
// $print-link-visited-color : $brand-primary ;
// $print-border-color       : $brand-secondary;
// $print-page-margin        : 0.5cm;

// Breakpoints
$slicer-breakpoints       : 0		400px		600px	 	800px	 	1050px;
$slicer-breakpoint-names  : 'a' 		'b' 		'c' 		'd' 		'e';

// Grid
// $grid-system              : true;
// $grid-columns             : 12;
// $grid-gutter              : 30;

// Responsive
// $responsive-visibility    : true;

// Utils
// $utils-classes            : true;

// Animations
// $animation-effects        : true;
$transition-duration         : 0.3s;
// $transition-timing        : linear;
// $transition-delay         : 0;
