/*------------------------------------*\
    #DROPDOWN-THEME
\*------------------------------------*/

.dropdown {

    .submenu {
        background-color: $dropdown-submenu-bg-color;
    }

}

    .dropdown__menu__item {
        background-color: $nav-submenu-bg-color;
    }

        .dropdown__link,
        .dropdown__menu__link {
            @include font-size($dropdown-font-size);
            @include transition($dropdown-transition);
            font-weight: $dropdown-item-font-weight;
            background-color: $dropdown-item-bg-color;
            color: $dropdown-item-color;
            padding: $dropdown-item-padding;

            &:hover, &:focus {
                background-color: $dropdown-item-hover-bg-color;
            }

            &:active {
                background-color: $dropdown-item-active-bg-color;
            }

        }


.dropdown--selected {

    > .dropdown__link,
    > .nav__menu__link{
        background-color:  $dropdown-item-selected-bg-color !important;
        color: $dropdown-item-selected-color !important;
    }

}
