/*------------------------------------*\
    #MODAL-THEME
\*------------------------------------*/

    .modal {}

        .modal__dialog {
            padding: em($modal-dialog-padding);
        }

            .modal__dialog__content {
                background-color: $modal-content-bg;
                border-radius: $modal-content-border-radius;
                box-shadow: 0 3px 9px rgba(0,0,0,.5);
                max-width: 60%;
            }

        .modal__header {
            padding: em($modal-inner-padding);
        }

            .modal__close {
                right: em($modal-inner-padding / 1.5);
                top: em($modal-inner-padding / 2);
            }

        .modal__body {
            padding: em($modal-inner-padding);
        }

        .modal__footer {
            padding: em(($modal-inner-padding - 1)) em($modal-inner-padding) em($modal-inner-padding);
        }



