/*------------------------------------*\
    #SPINNER-THEME
\*------------------------------------*/

/* :not(:required) hides this rule from IE9 and below */
.spinner__element--circle:not(:required) {
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: $spinner-color 1.5em 0 0 0, $spinner-color 1.1em 1.1em 0 0, $spinner-color 0 1.5em 0 0, $spinner-color -1.1em 1.1em 0 0, $spinner-color -1.5em 0 0 0, $spinner-color -1.1em -1.1em 0 0, $spinner-color 0 -1.5em 0 0, $spinner-color 1.1em -1.1em 0 0;
    -moz-box-shadow: $spinner-color 1.5em 0 0 0, $spinner-color 1.1em 1.1em 0 0, $spinner-color 0 1.5em 0 0, $spinner-color -1.1em 1.1em 0 0, $spinner-color -1.5em 0 0 0, $spinner-color -1.1em -1.1em 0 0, $spinner-color 0 -1.5em 0 0, $spinner-color 1.1em -1.1em 0 0;
    box-shadow: $spinner-color 1.5em 0 0 0, $spinner-color 1.1em 1.1em 0 0, $spinner-color 0 1.5em 0 0, $spinner-color -1.1em 1.1em 0 0, $spinner-color -1.5em 0 0 0, $spinner-color -1.1em -1.1em 0 0, $spinner-color 0 -1.5em 0 0, $spinner-color 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: $spinner-font-size;
    width: 1em;
    height: 1em;
    overflow: hidden;
    text-indent: 100%;
}

.spinner__element--simple {
    font-size: $spinner-font-size;
    text-align: center;
    &:before {
        height: $spinner-size;
        width: $spinner-size;
        border: 10px solid transparentize($brand-primary, 0.8);
        border-top-color: transparentize($brand-primary, 0.2);
        border-radius: 100%;
        -webkit-animation: rotation $spinner-speed infinite linear;
        animation: rotation $spinner-speed infinite linear;
        content: " ";
        display: block;
        margin: auto;
    }
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}

@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
