/*------------------------------------*\
    #TABLE-THEME
\*------------------------------------*/

.table {
    @include font-size($table-font-size);

    @include cells {
        padding: $table-padding;
    }

    thead {
        @include cells {
            text-align: $thead-align;
            color: $thead-color;
            background-color: $thead-bg-color;
            font-weight: $thead-font-weight;
        }
    }

    tbody {
        @include cells {
            text-align: $tbody-align;
        }

        tr {
            @include transition($table-hover-transition);

            &:nth-child(odd) {
                background-color: $table-odd-bg-color;
            }

            &:nth-child(even) {
                background-color: $table-even-bg-color;
            }

            &:hover, &:focus {
                color: $table-hover-color;
                background-color: $table-hover-bg-color;
            }

            &:hover a, &:focus a{
                color: $table-hover-color;
            }

        }

    }

    tfoot {
        @include cells {
            @include font-size($tfoot-font-size, $table-font-size);
            text-align: $tfoot-align;
            background-color: $tfoot-bg-color;
            border-top: 1px solid $tfoot-border-color;
        }
    }
}
