/*------------------------------------*\
    #TEXT-THEME
\*------------------------------------*/

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0 0 $text-margin;
}

.text {

    p, ul, ol {
        margin: 0 0 $text-margin;
    }

    ul li {
        list-style-type: disc;
    }

    ol li {
        list-style-type: decimal;
    }

    li li {
        margin: $text-margin 0 0 $text-margin;
    }

}
