/*------------------------------------*\
    #TAB-THEME
\*------------------------------------*/

.tab {}

    .tab__block {

        .tab--stacked & {
            width: $tab-block-width;
        }

    }

        .tab__block__item {}

            .tab__block__link {
                background-color: $tab-item-bg-color;
                color: $tab-item-color;
                padding: $tab-item-padding;

                @if $tab-transition != initial {
                    @include transition($tab-transition);
                }

                &:hover, &:focus {
                    color: $tab-item-hover-color;
                    background: $tab-item-hover-bg-color;
                    text-decoration: $tab-item-text-decoration;
                }

                &:active {
                    background-color: $tab-item-active-bg-color;
                }

                .tab__block__item--selected & {
                    color: $tab-item-selected-color;
                    background-color: $tab-item-selected-bg-color;
                }

                .tab__block__item--lead & {
                    background-color: $tab-item-lead-bg-color;
                }

            }

    .tab__content {
        font-size: $tab-content-font-size;
        padding: $tab-content-padding;
        background: $tab-content-bg-color;
        border: $tab-content-border;

        .tab--stacked & {
            width: $tab-content-width;
        }

    }
